<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">

    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet"
          type="text/css">
    <link rel="icon" href="img/favicon.png" type="image/x-icon">
    <link href="/css/quasar.min.css" rel="stylesheet" type="text/css">


    <style type="text/css">
        .logo-container {
            width: 255px;
            height: 242px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        .logo {
            position: absolute;
        }
    </style>
</head>

<body>
<div id="q-app">
    <q-layout view="hHh lpR fFf">

        <q-header elevated class="bg-primary text-white">
            <q-toolbar>
                <q-toolbar-title>
                    <q-avatar>
                        <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg">
                    </q-avatar>
                    {{ $t("app.title") }}
                </q-toolbar-title>
            </q-toolbar>
        </q-header>

        <q-page-container>
            <my-page></my-page>
        </q-page-container>

    </q-layout>
</div>

<script type="text/x-template" id="my-page">
    <q-page padding>
        <div class="col-lg-10 q-pt-xl row justify-center">
            <q-card class="my-card q-pa-lg">
                <q-card-section>
                    <div class="column justify-center items-center q-gutter-md">
                        <template v-if="signupStatus && signupStatus.active">
                            <template v-if="!signupStatus.confirmed">
                                <q-icon name="check_circle" size="64px" color="positive" />
                                <span class="text-h4 text-primary text-bold">{{ $t("pages.signup_status.text_thank_you") }}</span>
                                <span class="text-weight-medium">
                                        <i18n path="pages.signup_status.text_next_steps" tag="p">
                                            <label>{{ signupStatus.email }}</label>
                                        </i18n>
                                    </span>
                            </template>
                            <template v-else>
                                <q-icon name="favorite" size="64px" color="accent" />
                                <span class="text-h4 text-primary text-bold">{{ $t("pages.signup_status.text_signed_up") }}</span>
                                <span class="text-weight-medium">
                                        <i18n path="pages.signup_status.text_signed_up_steps" tag="p">
                                            <label class="text-primary">{{ signupStatus.email }}</label>
                                        </i18n>
                                    </span>
                            </template>
                        </template>
                        <template v-else-if="!signupStatus || !signupStatus.active">
                            <q-icon name="error" size="64px" color="negative" />
                            <span class="text-h4 text-primary text-bold">{{ $t("pages.signup_status.text_not_found") }}</span>
                            <span class="text-weight-medium">
                                    <i18n path="pages.signup_status.text_not_found_steps" tag="p">
                                        <template v-slot:uuid><label>{{ uuid }}</label></template>
                                        <template v-slot:break><p></template>
                                        <template v-slot:steps_1><label>{{ $t("pages.signup_status.text_not_found_steps_1") }}</label></template>
                                    </i18n>
                                </span>
                        </template>
                    </div>
                </q-card-section>
                <q-card-actions>
                    <q-btn v-if="signupStatus && signupStatus.active && signupStatus.confirmed" color="primary" :label="i18n.label_go_to_login" />
                    <q-btn v-else-if="!signupStatus || !signupStatus.active" color="primary" :label="i18n.label_go_to_signup" />
                    <q-btn v-else color="primary" :label="i18n.label_go_to_home_page" />
                </q-card-actions>
            </q-card>
        </div>
    </q-page>
</script>

<script src="/js/quasar.ie.polyfills.umd.min.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/js/quasar.umd.min.js"></script>
<script src="/js/vue-i18n.min.js"></script>
<script src="/js/axios.min.js"></script>

<style lang="sass" scoped>
        .my-card {
            width: 100%;
            max-width: 500px;
        }
    </style>

<script>
        const messages = {
            en: {
                app: {
                    title: "People Colony"
                },
                pages: {
                    signup_status: {
                        text_thank_you: "Thank You!",
                        text_signed_up: "You Signed Up Already!",
                        text_not_found: "Not Found!",
                        text_next_steps: "Please check your email, {0}, for our welcome message and click the link provided to activate your membership.",
                        text_signed_up_steps: "You can go to the login page from the button below and login with your email, {0}.",
                        text_not_found_steps: "Unfortunately, we didn't find any signup record for UUID: {uuid}. {break} {steps_1}",
                        text_not_found_steps_1: "It's possible you haven't already signed up. You can go to the signup page from the button below.",
                        label_go_to_login: "Go to Login",
                        label_go_to_signup: "Go to Signup",
                        label_go_to_home_page: "Go to Home Page"
                    }
                }
            }
        }

        const i18n = new VueI18n({
            locale: 'en',
            messages
        })

        const myPageComp = Vue.component('my-page', {
            data() {
                return {
                    i18n: {
                        label_go_to_login: this.$t("pages.signup_status.label_go_to_login"),
                        label_go_to_signup: this.$t("pages.signup_status.label_go_to_signup"),
                        label_go_to_home_page: this.$t("pages.signup_status.label_go_to_home_page")
                    },
                    signupStatus: {},
                    uuid: ""
                }
            },
            methods: {
                initialize() {
                    var uuid = this.getUUIDParam();
                    if (uuid) {
                        const component = this;
                        component.uuid = uuid;
                        axios
                            .get("/api/signup/" + uuid)
                            .then(response => {
                                component.signupStatus = response.data.signup;
                            });
                    }
                },
                getUUIDParam() {
                    var urlQuery = window.location.search;
                    if (!urlQuery) return null;
                    var urlParams = urlQuery.substr(1).split('&');
                    var uuidParam = urlParams.find(param => param.startsWith("uuid="));
                    if (!uuidParam) return null;
                    return uuidParam.substr(uuidParam.indexOf("=") + 1);
                }
            },
            template: '#my-page',
            i18n,
            mounted: function () {
                this.initialize();
            }
        })

        new Vue({
            el: '#q-app',
            data: function () {
                return {
                    version: Quasar.version,
                    drawerState: true
                }
            },
            i18n,
            mounted: function () {
                document.title = this.$t("app.title");
            }
        })
    </script>
</body>

</html>